<div>

</div>
<header class="bg-white">
  <div class="flex h-16 max-w-screen-xl items-center gap-8 px-4">

    <div class="flex flex-1 items-center justify-end">
      <nav aria-label="Global" class="md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> About Me </a>
          </li>

          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Experience </a>
          </li>

          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Projects </a>
          </li>

          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="#"> Contact </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
